@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.loan-app-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
  }